

  
  {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}
    
    <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
      <ol class="breadcrumbs__list w-list-unstyled">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link w-inline-block" href="/"><div class="breadcrumbs__text">HOME</div></a>
        </li>
        {%- case t -%}
          {%- when 'page' -%}
            <li class="breadcrumbs__item">
              <a href="{{ page.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                  <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                </svg></div><div class="breadcrumbs__text">{{ page.title }}</div></a>
            </li>
          {%- when 'product' -%}
            {%- if collection.url -%}
              <li class="breadcrumbs__item">
                  <a href="{{ collection.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                      <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                    </svg></div><div class="breadcrumbs__text">{{ collection.title }}</div></a>
                
              </li>
            {%- endif -%}
            <li class="breadcrumbs__item">
              <a href="{{ product.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                  <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                </svg></div><div class="breadcrumbs__text">{{ product.title }}</div></a>
            </li>
          {%- when 'collection' and collection.handle -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                  <a href="{{ collection.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                      <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                    </svg></div><div class="breadcrumbs__text">{{ collection.title }}</div></a>
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
  
                <a href="{{ tag_url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                  <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                </svg></div><div class="breadcrumbs__text">{{ current_tags | join: " + " }}</div></a>
                
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                  <a href="{{  collection.url  }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                      <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                    </svg></div><div class="breadcrumbs__text">{{ collection.title }}</div></a>
              </li>
            {%- endif -%}
          {%- when 'blog' -%}
            {%- if current_tags -%}
              <li class="breadcrumbs__item">
                  <a href="{{ blog.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                      <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                    </svg></div><div class="breadcrumbs__text">{{  blog.title  }}</div></a>
                
              </li>
              <li class="breadcrumbs__item">
                {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                <a href="{{ tag_url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                  <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                </svg></div><div class="breadcrumbs__text">{{ current_tags | join: " + " }}</div></a>
                
              </li>
            {%- else -%}
              <li class="breadcrumbs__item">
                  <a href="{{ blog.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                      <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                    </svg></div><div class="breadcrumbs__text">{{ blog.title }}</div></a>
                    
              </li>
            {%- endif -%}
          {%- when 'article' -%}
            <li class="breadcrumbs__item">
              <a href="{{ blog.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                  <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                </svg></div><div class="breadcrumbs__text">{{ blog.title }}</div></a>
            </li>
            <li class="breadcrumbs__item">
              <a href="{{ article.url }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                  <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                </svg></div><div class="breadcrumbs__text">{{ article.title }}</div></a>
            
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <a href="{{ request.path  }}" class="breadcrumbs__link w-inline-block"><div class="breadcrumbs__arrow w-embed-breadcrumbs"><svg id="Shevron_right" data-name="Shevron right" xmlns="http://www.w3.org/2000/svg" width="5,83" height="10" viewBox="0 0 7 12">
                  <path id="Shape" d="M.293.293a1,1,0,0,1,1.414,0l5,5a1,1,0,0,1,0,1.414l-5,5A1,1,0,0,1,.293,10.293L4.586,6,.293,1.707A1,1,0,0,1,.293.293Z" fill="#05060f"></path>
                </svg></div><div class="breadcrumbs__text">{{ page_title }}</div></a>
            </li>
        {%- endcase -%}
      </ol>
    </nav>
    {%- endunless -%}